{%- if post.direct-url -%} 
<a class="post_preview"  tags="{{post.categories}}" href="{{ post.direct-url }}"> 
{%- else -%}
<a class="post_preview"  tags="{{post.categories}}" href="{{ post.url }}"> 
{%- endif -%}
        {%- if post.img -%}
            <div class="preview" style="background-image: url('/assets/images/posts/{{ post.img }}');"> </div> 
        {%- else -%}
            <div class="preview">  </div>
        {%- endif -%}
        <h2> {{ post.title }} 
        {%- if post.ongoing -%}
            <span class="ongoing">now!</span>
        {%- endif -%}
        </h2>
        
        <br/>
        <div class="content">
            <p> {{ post.preview }} </p>
        </div>
</a>
