@font-face {
    font-family: 'Roboto';
    src: url('../roboto-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../roboto-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }


body 
{
    font-family: "Roboto";
}

#corps
{
    margin: 5% 10% 10% 10%;
}

#title
{
    margin: 10% 10% 20px 10%;
    font-size: 2em;
}

nav 
{
    margin: 0% 10% 10% 0%;
    position: 0px;
    width: 100%;
    height: 1vh;
}


nav #previous {
    display: block;
    float: left !important;
    background-color: black;
    border-radius: 10px;
    color: white; 
    font-size: 1.5em;
    padding: 10px;
    margin: 0.5em 0.5em 0 0;
}


#slides {
    display: inline-block;
    background-color: rgba(0, 0, 0, 120);
    border-radius: 10px;
    color: white; 
    width: auto;
    margin-top: 30px;
    padding: 0px 10px 0.2em 10px;
}

#slides a {
    font-size: 0.7em;
    color: white; 
}

#slides a:visited {
    color: white; 
}

nav #next {
    display: block;
    float: right !important;
    background-color: black;
    border-radius: 10px;
    color: white; 
    font-size: 1.5em;
    padding: 10px;
    margin: 0.5em 0.5em 0 0;
}

nav a {
    color: white;
}

nav a:visited {
    color: white;
}

#title svg{
    margin-top: 0.2em;
    margin-right: 3px;
}